<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0"/>
    <title>SkeletonPHP</title>

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/site.min.css') }}" />
    {% endblock %}

</head>
<body>

    {% block header %}
        {# Header of your applcation #}
    {% endblock %}

    {% block content %}
        {# Content for your application #}
    {% endblock %}

    {% block scripts %}
        <script src="{{ asset('js/site.min.js') }}" type="text/javascript"></script>
    {% endblock %}
    
</body>
</html>